{
  "plugins": ["prettier-plugin-tailwindcss"],
  "arrowParens": "avoid",
  "useTabs": false,
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
